<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>Adicionar Categoria</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">
    <h2>➕ Nova Categoria</h2>

    <form method="post" enctype="multipart/form-data">
        <label>Nome</label>
        <input type="text" name="nome" required>

        <label>Imagem</label>
        <input type="file" name="imagem" accept="image/*">

        <button type="submit" class="btn">Salvar</button>
    </form>

    <a href="{{ url_for('gerenciar_categorias') }}" class="btn-voltar">⬅ Voltar</a>
</div>

</body>
</html>
