<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">
<meta name="theme-color" content="#1976d2">
    <meta charset="UTF-8">
    <title>Produtos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<script>
if ("serviceWorker" in navigator) {
    navigator.serviceWorker.register("/static/service-worker.js");
}
</script>


<body>

<div class="container">

    <h2>🛒 Produtos</h2>

    <form method="post" action="/confirmar_itens/{{ id }}">

        <div class="produtos-grid">
            {% for p in produtos %}
                <div class="produto-card">

                    <img src="{{ url_for('static', filename='img/produtos/' ~ p.nome|lower|replace(' ', '_') ~ '.jpg') }}">

                    <h3>{{ p.nome }}</h3>
                    <p class="preco">R$ {{ "%.2f"|format(p.preco) }}</p>

                    <div class="qtd-box">
                        <button type="button" onclick="alterarQtd('{{ p.id }}', -1)">−</button>

                        <input type="number"
                               id="qtd_{{ p.id }}"
                               name="qtd_{{ p.id }}"
                               value="0"
                               min="0">

                        <button type="button" onclick="alterarQtd('{{ p.id }}', 1)">+</button>
                    </div>

                </div>
            {% endfor %}
        </div>

        <button type="submit" class="btn-adicionar">Adicionar à comanda</button>

    </form>

    <a href="/categorias/{{ id }}" class="btn-voltar">⬅ Voltar</a>

</div>

<script>
function alterarQtd(id, valor) {
    const input = document.getElementById("qtd_" + id);
    let atual = parseInt(input.value) || 0;
    atual += valor;
    if (atual < 0) atual = 0;
    input.value = atual;
}
</script>

</body>
</html>
